*
  box-sizing  border-box
body
  min-width 1020px
  word-wrap break-word
  font-family -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-size 14px
  line-height 1.5
  color #24292e
  margin 0
  display block
  background-color #f9f9f9
  // background-image url('../images/bg.png')
label
    font-weight: 600
input
  font-family inherit
  font-size inherit
  line-height inherit
  overflow visible
  font inherit
  margin 0
ul, ol
  padding-left  0
  margin-top 0
  margin-bottom 0
img
 border-style none
a
  color #0366d6
  text-decoration none
  background-color transparent
h3
  font-size 20px
  font-weight 600
h1, h2, h3, h4, h5, h6
  margin-top 0
  margin-bottom 0
p
  margin-top 0
  margin-bottom 10px
.list-style-none
  list-style none
.text-bold
  font-weight 600
.f5
  font-size 14px
.mt-4
  margin-top 24px
.mt-3
  margin-top 16px
.mt-2
  margin-top 8px
.columns
  margin-right -10px
  margin-left -10px
.one-fourth
  width 25%
.column
  float left
  padding-right 10px
  padding-left 10px
.border
  border-color rgb(225, 228, 232)
  border-style  solid
  border-width  1px
.menu
  margin-bottom 15px
  list-style none
  background-color #ffffff
  border-radius 3px
.menu-items:first-child
  border-top 0
  border-top-left-radius  2px
  border-top-right-radius 2px
.menu-item
  position relative
  display block
  padding 8px 10px 8px 10px
  border-bottom 1px solid rgb(225, 228, 232)
.ml-1
  margin-left 4px
.mt-1
  margin-top 4px
.f6
  font-size 12px
.three-fourths
  width 75%
.pl-2
  padding-left 8px
.d-flex
  display flex
.flex-auto
  flex 1 1 auto
.pb-3
  padding-bottom 16px
.flex-justify-between
  justify-content space-between
.flex-items-center
  align-items center
.border-bottom
  border-bottom 1px #e1e4e8 solid
.px-3
  padding-right 16px
  padding-left 16px
.px-2
  padding-right 8px
  padding-left 8px
.position-relative
  position relative
.pt-6
  padding-top 40px
.pb-2
  padding-bottom 8px
.mt-6
  margin-top 40px
.text-gray
  color #586069
.border-gray-light
  border-color #eaecef
.border-top
  border-top 1px  #e1e4e8 solid

.form-control, .form-select
    min-height 34px
    padding 6px 8px
    font-size 16px
    line-height 20px
    color #24292e
    vertical-align middle
    background-color #ffffff
    background-repeat no-repeat
    background-position right 8px center
    border 1px solid #d1d5da
    border-radius 3px
    outline none
    box-shadow inset 0 1px 2px rgba(27,31,35,0.075)
.mr-2
  margin-right 8px
.mr-3
  margin-right 16px
.clear
  clear both
.py-4
  padding-top 24px
  padding-bottom 24px
.flex-justify-start
  justify-content flex-start
.pr-3
  padding-right 16px
.col-8
  width 66.6667%
.v-align-middle
  vertical-align middle
.d-inline-block
  display inline-block
.pr-4
  padding-right 24px
.mb-2
  margin-bottom 8px
.mb-0
  margin-bottom 0
.col-9
  width 75%